<tr>
    <td><%= flight.airline %></td>
    <td><%= flight.flight_no %></td>
    <td><%= flight.plane_type %></td>
    <td><%= flight.leave_time %></td>
    <td><%= flight.leave_city %></td>
    <td><%= flight.arrive_time %></td>
    <td><%= flight.arrive_city %></td>
    <td><%= flight.price %></td> 
    <td><%= flight.remark %></td>
</tr>
