<%= form_for(@flight_leg) do |f| %>
  <% if @flight_leg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight_leg.errors.count, "error") %> prohibited this flight_leg from being saved:</h2>

      <ul>
      <% @flight_leg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :leg_no %><br>
    <%= f.number_field :leg_no %>
  </div>
  <div class="field">
    <%= f.label :flight_no %><br>
    <%= f.text_field :flight_no %>
  </div>
  <div class="field">
    <%= f.label :route_id %><br>
    <%= f.number_field :route_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
