<p id="notice"><%= notice %></p>

<p>
  <strong>Leg no:</strong>
  <%= @flight_leg.leg_no %>
</p>

<p>
  <strong>Flight no:</strong>
  <%= @flight_leg.flight_no %>
</p>

<p>
  <strong>Route:</strong>
  <%= @flight_leg.route_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flight_leg.price %>
</p>

<%= link_to 'Edit', edit_flight_leg_path(@flight_leg) %> |
<%= link_to 'Back', flight_legs_path %>
