<h1>Listing airports</h1>

<table>
  <thead>
    <tr>
      <th>Airport code</th>
      <th>Airport name</th>
      <th>Location city</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Altitude</th>
      <th>Timezone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td><%= airport.airport_code %></td>
        <td><%= airport.airport_name %></td>
        <td><%= airport.location_city %></td>
        <td><%= airport.country %></td>
        <td><%= airport.latitude %></td>
        <td><%= airport.longitude %></td>
        <td><%= airport.altitude %></td>
        <td><%= airport.timezone %></td>
        <td><%= link_to 'Show', airport %></td>
        <td><%= link_to 'Edit', edit_airport_path(airport) %></td>
        <td><%= link_to 'Destroy', airport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airport', new_airport_path %>
