<p id="notice"><%= notice %></p>

<p>
  <strong>Route:</strong>
  <%= @route.route_id %>
</p>

<p>
  <strong>Airport origin:</strong>
  <%= @route.airport_origin %>
</p>

<p>
  <strong>Airport destination:</strong>
  <%= @route.airport_destination %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @route.distance %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
