<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="pagination-centered">
    <div class="span10 offset1">
      <img src="/banner.jpeg" align="middle"/> 
    </div>
    </header>
    <div class="row">
      <div class="span10 offset1">
        <div class="navbar" role="navigation" data-offset-top="150">
          <div class="navbar-inner">
            <div class="container">
              <nav>

                <ul class="nav pull-right">
                  <li><%= link_to "Home", root_path %></li>
                  <li><%= link_to "Help", help_path %></li>
                  <% if signed_in? %>
                    <% if current_user.email == "admin@flyberbach.com" %>
                      <li><%= link_to "Users", users_path %></li>
                      <li><%= link_to "Carts", carts_path %></li>
                    <%end %>
                    <li><%= link_to "Search", controller: "searches", action: "new" %></li>
                    <li id="fat-menu" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= current_user.email %> <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Shopping Cart", current_cart %></li>
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to "Sign out", signout_path, method: "get" %>
                        </li>
                      </ul>
                    </li>
                  <% else %>
                    <li><%= link_to "Sign in", signin_path %></li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>
    </div>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <%= yield %>

  <div class="row">
    <div class="span10 offset1">
      <div class="modal-footer">
        <p><%= link_to "About Flyberbach",about_path %> - Powered by Ruby on Rails</p>

      </div>
    </div>
  </div>


  <div id="debug_dump">
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>

</html>
